.required label::after {
    content: " *";
    color: red;
}

.layout-static.layout-static-inactive .layout-sidebar {
    left: 0 !important;
}

.layout-wrapper.layout-static .layout-main-container {
    margin-left: 260px !important;
}
.layout-wrapper.layout-static.layout-static-inactive .layout-main-container {
    margin-left: 0px !important;
}

/* Customize the scrollbar track */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
  }
  
  /* Customize the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: #D0E1FD; /* Change the background color */
    border-radius: 5px; /* Adjust the border radius as needed */
  }
  
  /* Customize the scrollbar track on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6366F1; /* Change the hover background color */
  }

  .measure-list .p-listbox-list-wrapper .p-listbox-list {
    overflow: auto;
    max-height: 28vh;
}

.p-listbox-item.draggable {
  cursor: grab;
  margin: 0;
  padding: 0.75rem 1.25rem;
  border: 0 none;
  color: #495057;
  transition: box-shadow 0.2s;
  border-radius: 0;
}
  
.measure-list{
  background: #ffffff;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 6px
}